Done by Padhma Prakash A (21PT17)


# **_Fetching Close Price details for the Apple (AAPL) stock for the year 2023 from QuantRocket_**

#

In [5]:
# ------ SETTING LICENSE --------

from quantrocket.license import set_license
set_license("f785a9ee-dfa4-11ee-948d-5d738746c51e")

{'licensekey': 'f785........c51e', 'software_license': {}}

In [6]:
#  RETRIEVES INFO ABOUT CURRENTLY SET LICENSE PROFILE 
from quantrocket.license import get_license_profile
get_license_profile()

{'licensekey': 'f785........c51e', 'software_license': {}}

In [ ]:
# CREATING US STOCK DATABASE
from quantrocket.history import create_usstock_db
create_usstock_db("usstock-free-1d", bar_size="1 day", free=True)

In [8]:
# STORING HISTORICAL DATA OF STOCK PRICE
from quantrocket.history import collect_history
collect_history("usstock-free-1d")

{'status': 'the historical data will be collected asynchronously'}

In [11]:
# FETCHING SECURITIES DATA FOR US STOCKS WITH TYPE = STK

from quantrocket.master import get_securities

securities = get_securities(vendors="usstock", sec_types="STK")
securities.head()

,Symbol,Exchange,Country,Currency,SecType,Etf,Timezone,Name,PriceMagnifier,Multiplier,Delisted,DateDelisted,LastTradeDate,RolloverDate
Sid,,,,,,,,,,,,,,
FIBBG000B9XRY4,AAPL,XNAS,US,USD,STK,False,America/New_York,APPLE INC,1,1,False,NaT,NaT,NaT
FIBBG000BFWKC0,MON,XNYS,US,USD,STK,False,America/New_York,MONSANTO CO,1,1,True,2018-06-06,NaT,NaT
FIBBG000BKZB36,HD,XNYS,US,USD,STK,False,America/New_York,HOME DEPOT INC,1,1,False,NaT,NaT,NaT
FIBBG000BMHYD1,JNJ,XNYS,US,USD,STK,False,America/New_York,JOHNSON & JOHNSON,1,1,False,NaT,NaT,NaT
FIBBG000BPH459,MSFT,XNAS,US,USD,STK,False,America/New_York,MICROSOFT CORP,1,1,False,NaT,NaT,NaT

In [ ]:
# CREATING UNIVERSE OF SECURITIES

from quantrocket.master import create_universe
create_universe("usstock-free", sids=securities.index.tolist())

In [13]:
# FILTERING SECURITIES DATAFRAME FOR THE STOCK "AAPL"
filtered_securities = securities[securities.Symbol=="AAPL"]
filtered_securities = filtered_securities[["Symbol", "Exchange", "Name", "Delisted"]]
filtered_securities.head()

               Symbol Exchange       Name  Delisted
Sid
FIBBG000B9XRY4   AAPL     XNAS  APPLE INC     False

In [ ]:
create_universe("usstock-free-active", sids=filtered_securities.index.tolist())

In [15]:
# GETTING CLOSE PRICES FOR THE STOCK AAPL WITHIN SPECIFIED DATES

from quantrocket import get_prices
prices = get_prices("usstock-free-1d", universes="usstock-free-active", start_date="2023-01-01",end_date="2023-12-31" ,fields=["Close"])
prices.head(10)

Sid               FIBBG000B9XRY4
Field Date
Close 2023-01-03        124.2163
      2023-01-04        125.4975
      2023-01-05        124.1666
      2023-01-06        128.7352
      2023-01-09        129.2616
      2023-01-10        129.8377
      2023-01-11        132.5788
      2023-01-12        132.4994
      2023-01-13        133.8402
      2023-01-17        135.0121

In [16]:
# ------------ CREATING A CSV FILE TO STORE THE OBTAINED DATA --------

prices.to_csv("AAPL_Stock.csv")